* { box-sizing: border-box; }
body { font-family: 'Courier New', Courier, monospace; }

#main-container {
    width: 1004px;
    margin: 20px auto;
}

.title { margin-bottom: 15px; }

.title > h1 {
    margin-bottom: 10px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.title > .stats { text-align: center; }

.title span {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.title span > small {
    font-size: 14px;
    font-weight: normal;
}

#snake-game-container {
    width: 1004px;
    height: 504px;
    border: 2px solid black;
    position: relative;
    background: #d3d3d3;
    overflow: hidden;
}

#snake {
    width: 40px;
    height: 10px;
    display: flex;
    font-size: 0;
}

#snake > li {
    width: 10px;
    height: 10px;
    position: absolute;
    background: #008000;
}

#food {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10%;
    left: 20%;
    background: #ff0000;
    font-size: 0;
}