* { box-sizing: border-box; }
body { font-family: 'Courier New', Courier, monospace; }

#main-container {
    width: 1004px;
    margin: 20px auto;
}

.opacity-low { opacity: 0.3; }
.title { margin-bottom: 15px; }

.title > h1 {
    margin-bottom: 10px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.title > .stats { text-align: center; }

.title span {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.title span > small {
    font-size: 14px;
    font-weight: normal;
}

#snake-game-container {
    width: 1004px;
    height: 504px;
    border: 2px solid black;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    background: #d3d3d3;
    overflow: hidden;
}

#snake {
    height: 10px;
    display: flex;
    font-size: 0;
}

#snake > li {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 2;
    background: #2ff74e;
    font-size: 0;
}

#snake > li:first-child { 
    z-index: 3;
    background: #008000; 
}

#food {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 4;
    background: #ff0000;
    font-size: 0;
}

.note { 
    color: #808080;
    font-size: 16px;
    text-align: center;
}

#modal {
    width: 100%;
    height: 100%;
    background: transparent;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

#modal.display-none { display: none; }

#modal > .modal-container {
    padding: 30px 100px;
    border: 1px solid #c0c0c0;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #c0c0c0;
    transform: translate(-50%, -50%);
    text-align: center;
}

.modal-content { margin-bottom: 20px; }

.modal-content > * { 
    display: block;
    text-align: center;
}

.modal-content > .score-heading {
    margin-bottom: 20px;
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

.modal-content > .score {
    margin-bottom: 10px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.modal-content > .message {
    color: #808080;
    font-size: 16px;
    font-weight: bold;
}

.modal-content > .message::before {
    margin-right: 10px;
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 900;
}

.modal-content > .equal-high-score::before {
    content: "\f00c";
    color: #4c6ef5;
}

.modal-content > .high-score::before {
    content: "\f560";
    color: #008000;
}

.restart-button { text-align: center; }

.restart-button > button {
    border: none;
    background: none; 
    font-size: 0;
}

.restart-button > button::before {
    content: "\f2f9";
    display: inline-block;
    color: #008000;
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    font-weight: 900;
    transition: color 1s ease-in-out;
}

.restart-button > button:hover::before { 
    color: #000;
    cursor: pointer;
}